.feature {
  @media (max-width: 1199px) {
    padding: 60px 0;
  }
  @media (min-width: 1200px) {
    padding: 94px 0;
  }
}

.feature__content {
  @include font(14px, 1.71, 0.03em);
  color: var(--additional-text);
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.feature__item {
  flex-basis: 270px;
  flex-grow: 1;
}

.feature__fill {
  height: 120px;
  border-radius: 4px;
  background-color: var(--background-light);
  margin-bottom: 30px;
  @include centeredFlex;
}

.feature__title {
  @media (max-width: 767px) {
    @include font(14px, 1.14, 0.03em, 700);
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  }
  @media (min-width: 768px) {
    @include font(14px, 1.14, 0.03em, 700);
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: left;
  }
}

