.header {
  border-bottom: 1px solid #eeeeee;
}

.site-nav__list .current {
      color: var(--accent-color);
    }
@media (max-width: 767px) {
  .main-nav {
    position: relative;
  }
  .site-nav {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
  }
  
  .mob-btn-open,
  .mob-btn-close {
    border: none;
    background-color: transparent;
    &:hover {
      fill: var(--accent-color);
    }
  }
  .mob-btn-close {
    display: block;
    margin-left: auto;
  }
  .main-nav .site-nav__list,
  .main-nav .contact-header__list {
    display: none;
  }
}

.menu-container {
  @media (max-width: 767px) {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    text-align: left;
    z-index: 1;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    &.is-open {
      display: block;
    }
    .mob-container {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .mob-nav__link {
    @include font(40px, 1.17, 0.02em, 500);
    color: var(--main-text-color);
    margin-left: 40px;
  }
  .mob-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mob-contact__list {
    margin-left: 40px;
  }
  .mob-nav__list .current {
      color: var(--accent-color);
    }
  .mob-contact__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .tel {
    @include font(34px, 1.17, 0.02em, 500);
    color: var(--accent-color);
  }
  .mail {
    @include font(24px, 1.16, 0.02em, 500);
    color: var(--additional-text);
  }
  .mob-soc {
    display: flex;
    @include font(18px, 1.22, 0.02em, 500);
    color: var(--accent-color);

    justify-content: left;
    margin-left: 40px;
  }
  .mob-soc__item {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    padding: 0 10px;
    &:first-child {
      border-left: none;
      padding-left: 0;
      margin-left: 0;
    }
  }
}

@media (min-width: 768px) {
  .main-nav {
    display: flex;
  }
  .site-nav {
    display: flex;
    align-items: center;
    max-width: 100%;
  }
  .site-nav__list {
    display: flex;
    align-items: center;
    gap: 50px;
    @include font(14px, 1.14, 0.03em, 500);
    margin-left: 90px;
    .current::after {
      display: block;
    }
  }
  .mob-container,
  .menu-btn-open {
    display: none;
  }
  .site-nav__link {
    color: var(--main-text-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 5px;
      background-color: var(--accent-color);
      display: none;
    }
  }

  .contact-header__list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    gap: 10px;
    @include font(12px, 1.16, 0.02em, 500);
    color: var(--additional-text);
    @media (min-width: 1200px) {
      gap: 30px;
    }
  }

  .contact-header__link {
    display: flex;
    align-items: center;
    color: var(--additional-text);
  }
  .contact-header__icon {
    margin-right: 10px;
    fill: currentColor;
  }

  .mob-btn-open,
  .mob-btn-close,
  .mob-soc {
    display: none;
  }

  .mob-nav__link {
    color: var(--main-text-color);
  }
}

@media (min-width: 1200px) {
  .contact-header__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .site-nav__link:hover,
  .site-nav__link:focus,
  .contact-header__link:hover,
  .contact-header__link:focus {
    color: var(--accent-color);
  }
}
