:root {
  --main-text-color: #212121;
  --additional-text: #757575;
  --background-light: #f5f4fa;
  --background-dark: #2f303a;
  --accent-color: #2196f3;
  --contact-text: rgba(255, 255, 255, 0.6);
  --white: #ffffff;
  --black: #000000;
}