.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature__title {
  @include font (14px, 1.71, 0.03em, 700);
  text-transform: uppercase;
  margin-bottom: 10px;
  @media (min-width:480px ) {
  text-align: center;
}
}

.feature__content {
  @include font (14px, 1.71, 0.03em);
  color: var(--additional-text);
}

.feature__list {
  display: flex;
  justify-content: center;

  @media (max-width:480px ) {
  display: block;
  }
}

@media (min-width:480px ) {
  .feature__item{
  width: 100%;
  }
}

@media (min-width:768px ) {
  .feature__item{
  display: block;
  }
}

// @media (min-width:1200px ) {
//   .feature__item {
//   flex-basis: calc((100% - 3 * 30px) / 4);
//   }
//   &+& {
//     margin-left: 30px;
//   }
// }

.feature__fill {
  @include centeredFlex;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--background-light);
  margin-bottom: 30px;

  @media (min-width:480px ) {
  width: 100%;
  }
}



 