.header {
  border-bottom: 1px solid #eeeeee;
  @media (min-width:480px ) {
  border-bottom: none;
  }
}

.main-nav,
.site-nav__list,
.site-nav,
.contact-header__list {
  display: flex;
  align-items: center;
}



.site-nav__list {
  @include font (14px, 1.14, 0.03em, 500);
  margin-left: 90px;
  .current::after {
    display: block;
  }
}

.site-nav__link {
  color: var(--main-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  position: relative;
  &::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  display: none;
  }
}

.site-nav__link:hover,
.site-nav__link:focus,
.contact-header__link:hover,
.contact-header__link:focus {
  color: var(--accent-color);
}

.site-nav__item .current {
  color: var(--accent-color);
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.contact-header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-header__item + .contact-header__item {
  margin-left: 50px;
}

.contact-header__list {
  @include font (14px, 1.14, 0.03em, 500);
  color: var(--additional-text);
  margin-left: auto;
}

.contact-header__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--additional-text);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
