.hero {
  // width: 1600px;
  width: 100%;
  margin: 0 auto;
  background-image: url(../images/Overlay.png), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  @media (min-width:480px ) {
    height: auto;
  }
}

.hero__title {
  margin-bottom: 30px;
  @include font (44px, 1.36, 0.06em, 900);
  text-transform: uppercase;
  color: var(--white);

  @media (max-width:480px ) {
    @include font (26px, 1.61, 0.06em, 900);
  }

}

.hero__btn {
  font-family: inherit;
  @include font (16px, 1.88, 0.06em, 700);

  color: var(--white);
  background: var(--accent-color);

  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
}