.team {
  background-color: var(--background-light);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-card__profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--additional-text);
  margin-bottom: 16px;
}

.team__list {
  display: flex;
}

.team__item {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
              0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;

  & + & {
    margin-left: 30px;
  }
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-social__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-social__link {
  @include centeredFlex; 
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 22px;

  transition-property:background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--white);
    background-color: var(--accent-color);
  }
}
